body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: rgb(173, 179, 240);
  color:white
}

image, .image-2, .pic {
  width: 300px;
  height: 300px;
}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgb(17, 17, 17);
  
}

div.navbar-brand {
  padding-top: 2em;
  margin-bottom: 2em;
  
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30em;
  margin-right: 30em;
}

.me-pic{
  clip-path: ellipse();
  width: 600px;
  height: auto;
}

.label {
  text-align: left;
}

.l2{
  color:white;

}


.link0{
  color: rgb(241, 14, 14);
}


.link1{
  color:rgb(241, 14, 14);
}


.link2{
  color:rgb(241, 14, 14);
}


footer.footer {
  background-color:  rgb(23, 24, 20);
  
}




@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}